{% extends "layout.tmpl" %}

{% block body %}
    Yapwaf is a web framework that is built to be quick to use and so much more!
    {# The link helper will link internally if there is not http[s]?:// #}
    Check out {{link('https://github.com/bis12/yapwaf')}} for more details.
{% endblock %}
