{% extends "layout.tmpl" %}

{% block body %}
    <h1>Hello from YAPWAF!</h1>Your IP address is {{ip}}.
    
    <ul>
    <li>{{Y.link('About', '/about')}}</li>
    <li>{{Y.link('Users', '/user')}}</li>
    </ul>
{% endblock %}
